%li.policy_area.hide_sub_areas
  %h3.expandable_nav_link= policy_area.name
  = policy_area.editor_links

  -#= link_to image_tag('whitequestionmark.png'), 'javascript:describeItem(0, 0);'
  -#= link_to image_tag('whiteedit.png'), 'javascript:editItem(0, 0);'
  -#%input.sub_category_checkbox{:type => "checkbox"}/
  %ol.sub_area_links
    = render partial: 'hierarchy/sub_area', collection: policy_area.sub_areas
