%li.policy_area.hide_sub_areas
  %h3.expandable_nav_link= policy_area.name
  = render partial: 'policy_areas/editor_links', locals: { policy_area: policy_area }
  %ol.sub_area_links
    = render partial: 'hierarchy/sub_area', collection: SubAreaDecorator.decorate(policy_area.sub_areas)
