%li.sub_area.hide_topics
  %header
    %h4.expandable_nav.caption= sub_area.name
    .controls
      = sub_area.editor_links
  %ol.topics
    = render partial: 'hierarchy/topic', collection: TopicDecorator.decorate(sub_area.topics)
