%h1 Listing Policy Areas

%table
  %tr
    %th Name
    %th Description

  - policy_areas.each do |policy_area|
    %tr
      %td= link_to policy_area.name, policy_area
      %td= policy_area.description
