%h1 Listing policy_areas

%table
  %tr
    %th Name
    %th Description
    %th

  - @policy_areas.each do |policy_area|
    %tr
      %td= policy_area.name
      %td= policy_area.description
      %td= link_to 'Show', policy_area
