ENV['AWS_ACCESS_KEY_ID'] ||= 'YOUR_ID_HERE'
ENV['AWS_SECRET_ACCESS_KEY'] ||= 'YOUR_SECRET_HERE'
ENV['AWS_DIRECTORY'] ||= 'your bucket name here' # 'alice-assets-dev'
ENV['AWS_HOST'] ||= "http://#{ENV['AWS_DIRECTORY']}.s3.amazonaws.com"
