%h1 Listing Sub Areas

%table
  %tr
    %th Name
    %th Description
    %th

  - @sub_areas.each do |sub_area|
    %tr
      %td= sub_area.name
      %td= sub_area.description
      %td= link_to 'Show', sub_area
