%h1 Listing Sub Areas

%table
  %tr
    %th Name
    %th Description

  - sub_areas.each do |sub_area|
    %tr
      %td= link_to sub_area.name, policy_area_sub_area_path(sub_area.policy_area, sub_area)
      %td= sub_area.description

= link_to 'List', policy_areas_path(sub_area.policy_area)
