%p
  %b Name:
  = @sub_area.name
%p
  %b Description:
  = @sub_area.description

= link_to 'Edit', edit_policy_area_sub_area_path(@sub_area.policy_area, @sub_area)
\|
= link_to 'List', policy_area_sub_areas_path(@sub_area.policy_area)
