common: &common
  min_messages: warning
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: plato
  password:

development:
  database: alice_development
  <<: *common

test: &test
  database: alice_test
  <<: *common
