#
# Format:
# 
# <stage name>:
#   app: <Heroku app name>
#   stack: <Heroku stack, optional>
#   tag: <git tag pattern, optional>
#   repo: <git repository, optional>
#   config:
#     <Heroku config:var name>: <Heroku config:var value>
#

defaults: &defaults
  stack: cedar
  config:
    BUNDLE_WITHOUT: "development:test"
  addons:
    - newrelic:standard
    - pgbackups:auto-month
    - sendgrid:starter

production: 
  <<: *defaults
  app: playbook-production
  tag: production/*

staging:
  <<: *defaults
  app: playbook-staging
  tag: staging/*
  config:
    RACK_ENV: staging
    RAILS_ENV: staging
