<% if @response.response[:numFound] <= spell_check_max and @response.spelling.words.size > 0 %>
  <div id="spell">
    <h4 class="suggest"><i><%= t('blacklight.did_you_mean', :options =>  link_to_query(@response.spelling.collation)).html_safe %></i></h4>
  </div>
<% end %>
