// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;

$container-width        : 100%;
$grid-padding           : 0;

$show-grid-backgrounds  : false;
