body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
  font-family: 'Carme', Helvetica, sans-serif;
}

/* div#container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

header {
  background-color: #D3D3D3;
  background-image: url("alicelogo.png");
  background-repeat: no-repeat;
  height: 92px;
  width: 100%;
  position: fixed;
}

nav {
  margin: 0px;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  text-align: right;
  height: 2em;
  background-color: transparent;
  text-transform: uppercase;
}

nav a {
  font-size: .8em;
  color: #939598;
  margin-right: 50px;
  margin-top: 10px;
}


a {
  color: #40409e;
  text-decoration: none;
}

/*section#search {*/
  /*dd, dt {*/
    /*display: inline-block;*/
  /*}*/

  /*dt {*/
    /*font-weight: bold;*/
  /*}*/

  /*dd {*/
    /*width: 75%;*/
  /*}*/
/*}*/

div#sortAndPerPage {
  padding: 1.66em;
}

div#content {
  position: relative;
  top: 120px;
  text-align: center;
}

div#flash_msg {
}

aside {
}

footer {
}
