body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
  font-family: 'Carme', Helvetica, sans-serif;
}

/* div#container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

header {
  position: fixed;
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  height: 92px;
  width: 100%;
  position: fixed;
  z-index: 600;
}

:link, :visited {
  text-decoration: none;
  color: #939598;
}

:link:hover, :visited:hover {
  color: #58595B;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  color: #58595B;

}

nav {
  float: right;
  margin: 0px;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 0.5em;
  text-align: right;
  height: 2em;
  background-color: transparent;
  text-transform: uppercase;
}

nav a {
  margin-top: 10px;
  margin-right: 50px;
  font-size: .8em;
  text-decoration: none;
}

.mainbutton {
  padding: .6em 2em .5em 2.2em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -o-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.48, rgb(128,9,9)),
      color-stop(1, rgb(250,60,60))
      );
}

/*section#search {*/
  /*dd, dt {*/
    /*display: inline-block;*/
  /*}*/

  /*dt {*/
    /*font-weight: bold;*/
  /*}*/

  /*dd {*/
    /*width: 75%;*/
  /*}*/
/*}*/

/* SEARCHBAR STYLES */

#searchbar {
  position: absolute;
  height: 50px;
  bottom: -20px;
  background-color: #f1f2f2;
  width: 825px;
  left: 30%;
  -moz-box-shadow:    1px 1px 2px 2px #999999;
  -webkit-box-shadow: 1px 1px 2px 2px #999999;
  box-shadow:         1px 1px 2px 2px #999999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#search_criteria {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 50%;
  left: 10px;
  margin-top: -17px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#search_button {
  position: absolute;
  left: 535px;
  height: 35px;
  width: 115px;
  top: 50%;
  margin-top: -18px;
}

#searchbar input {
  padding: 0 0 0 10px;
  font-size: .8em;
}

#advanced_search {
  position: absolute;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #939598;
  left: 670px;
  top: 5px;
  font-size: .8em;
  height: 28px;
  padding: 12px 0 0 10px;
}

#advanced_search a {
  text-decoration: none;
  color: #939598;
}

#advanced_search a:hover {
  color: #666666;
}

/* END OF SEARCHBAR */


div#sortAndPerPage {
  padding: 1.66em;
}

div#content {
  position: absolute;
  top: 93px;
  left: 290px;
  right:10px;
  padding: 100px 80px;
}

div.field {
  background-color: #e0f0e0;
  padding: .2em 1em;
}

div.field > label {
  display: inline-block;
  width: 100px;
  text-align: right;
  vertical-align: top;
}

div.field input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}


div.field > input, div.field > textarea {
}

div#flash_msg {
}

aside {
}

footer {
}
