body {
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
  font-family: 'Carme', Helvetica, sans-serif;
}

/* div#container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

header {
  background-color: #D3D3D3;
  background-repeat: no-repeat;
  height: 92px;
  width: 100%;
  position: fixed;
}

:link, :visited {
  text-decoration: none;
  color: #939598;
}

:link:hover, :visited:hover {
  color: #58595B;
}

nav {
  float: right;
  margin: 0px;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 0.5em;
  text-align: right;
  height: 2em;
  background-color: transparent;
  text-transform: uppercase;
}

nav a {
  margin-top: 10px;
  margin-right: 50px;
  font-size: .8em;
  text-decoration: none;
}

.mainbutton {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -o-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.48, rgb(128,9,9)),
      color-stop(1, rgb(250,60,60))
      );
}

/*section#search {*/
  /*dd, dt {*/
    /*display: inline-block;*/
  /*}*/

  /*dt {*/
    /*font-weight: bold;*/
  /*}*/

  /*dd {*/
    /*width: 75%;*/
  /*}*/
/*}*/

div#sortAndPerPage {
  padding: 1.66em;
}

div#content {
  position: relative;
  top: 120px;
  text-align: center;
}

div#flash_msg {
}

aside {
}

footer {
}
