#documents .document, #document {
  border-bottom: 1px solid #CCCCCC;
  clear: both;
  padding: 0.5em 0 0;
  max-width: 900px;
  margin-bottom: 10px;

  dl.defList {
    clear: both;
    overflow: auto;
    padding: 0.5em 0;
    dt {
      clear: both;
      float: left;
      margin: 0;
      padding: 2px 1em 2px 0;
      text-align: right;
      width: 100px;
    }
    dd {
      float: left;
      margin: 0;
      padding: 2px 0;
      text-align: left;
      width: 550px;
    }
  }
}

