div#hierarchy, div#hierarchy_disable {
  position: absolute;
  z-index: 100;
  top: 93px;
  width:280px;
  height: 100%;
  font-family: helvetica, arial, sans-serif;
  border: thin solid #d0d0d0;
}

div#hierarchy_disable {
  z-index: 300;
  background-color: #d0d0d0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

div.caption {
  font-size: 12px;
  /* right padding prevents overlap with controls div */
  padding: 8px 75px 8px 12px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ffffff;
  /* making this eligible for serving as a container for non-flow positioning
   of internal stuff. do NOT set right, left, top, bottom. */
  position: relative;
}

div.headcaption {
  padding-top: 16px;
}

div.caption a {
  color: inherit;
}

/* the controls div (containing links and controls
  within a caption */
div.controls {
   position: absolute;
   display: none;
   top: 50%;
   margin-top: -9px;
   right: 10px;
   width: 80px;
   height: 18px;
   text-align: right;
}

div.caption:hover > div.controls {
  display: block;
}

div.controls > input[type=checkbox] {
  position: relative;
  top: -3px;
  margin-left: 3px;
  margin-right: 0px;
}

div.controls img {
  margin: 0px -4px 0px 0px;
}

div.hidechildren > div div.caption {
  display: none;
}

div.hidechildren div.selected > div.caption {
  display: block;
}

div.lvl0.hidechildren > div.caption {
  display: block;
}


/* colors displayed for different levels */
div.lvl0 > div.caption {
  color: #ffffff;
  background-color: #144680;
}

div.lvl0 > div.caption:hover {
  background-color: #0078af;
}

/* colors displayed for LVL1 SUB-AREA captions */
div.lvl1 > div.caption {
  color: #606060;
  background-color: #d1d2d4;
  padding-left: 2em;
}
div.lvl1 > div.caption:hover {
  background-color: #bfc0c3;
}

/* colors displayed for LVL2 TOPIC captions */
div.lvl2 > div.caption {
  color: #606060;
  background-color: #f3f3f4;
  padding-left: 3em;
}

/* colors displayed for SELECTED captions */
div.selected > div.caption, div.selected > div.caption:hover {
  color: #ffffff;
  background-color: #c51a26;
}

/*li.selected {*/
  /*color: #ffffff;*/
  /*background-color: #c51a26;*/
/*}*/

/*ol {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/
/*li {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/
/*.nav_links, .policy_area_links, .sub_area_links, .topic_links {*/
  /*list-style: none;*/
/*}*/



/* NOT PERMANENT - DEMO CONTENT ONLY */
div#show_selected_items {
  position: fixed;
  left: 500px;
  top: 200px;
  width: 600px;
  height: 400px;
  border: thin solid black;

  padding: 20px 30px;
}
