$policy_blue: #144680;
$policy_hover_blue: #0078AF;

$sub_area_light_gray: #D1D2D4;
$sub_area_dark_gray: #606060;
$sub_area_hover_gray: #BFC0C3;

$topic_light_gray: #F3F3F4;

@mixin hierarchy_header {
  border-bottom: 1px solid white;
  min-height: 2em;

  h3, h4 {
    display: inline;
  }
}

@mixin hierarchy_caption($padding) {
  .caption, .controls {
    vertical-align: middle;
    padding-left: $padding;
  }
}

@mixin hierarchy_item($padding) {
  header {
    @include hierarchy_header;
    @include hierarchy_caption($padding);
  }
}

@mixin policy_area {
  @include hierarchy_item(1em);
  background-color: $policy_blue;
  color: white;
  &:hover {
    background-color: $policy_hover_blue;
  }
}

@mixin sub_area {
  @include hierarchy_item(2em);
  background-color: $sub_area_light_gray;
  color: $sub_area_dark_gray;
  &:hover {
    background-color: $sub_area_hover_gray;
  }
}

@mixin topic {
  @include hierarchy_item(3em);
  background-color: $topic_light_gray;
  color: $sub_area_dark_gray;
}

#hierarchy {
  position: absolute;
  top: 93px;
  width: 280px;
  background: #d0d0d0;

  h2, h3, h4, li.topic, .controls {
    font-weight: normal;
    line-height: 2em;
  }

  #create_new_policy_area {
    @include policy_area;
    @include hierarchy_header;
    @include hierarchy_caption(1em);
  }

  .policy_area {
    @include policy_area;
  }

  .sub_area {
    @include sub_area;
  }

  .topic {
    @include topic;
  }

  .controls {
    float: right;
    img, input {
      vertical-align: middle;
    }

    input {
      margin: 0 2px;
    }
  }

  li.hide_sub_areas > ol, li.hide_topics > ol {
    display: none;
  }

  .expandable_nav:hover {
    cursor: pointer;
  }

  ol, ul {
    list-style: none;
    li { clear: both; }
  }
}
