html { height: 100%; }

body {
  height: 100%;
  font-family: 'Carme', Helvetica, sans-serif;
}

.flash {
  text-align: center;
  @include squish(0.5, 0.5);
  margin-bottom: 1.5em;
}
.main {
  margin-top: $header-height;
  @include span-columns(10 omega, 12);
}

.sidebar {
  height: 100%;
  @include span-columns(2, 12);
  background-color: $dark_blue;
}

.content {
  clear: left;
  margin-top: 1.5em;
}

header.top {
  position: absolute;
  left: 0;
  @include span-columns(12);
  background-color: #D3D3D3;
  height: $header-height;
}

:link, :visited {
  text-decoration: none;
  color: #939598;
}

:link:hover, :visited:hover {
  color: #58595B;
}

nav {
  float: right;
  padding: 0.5em 2em;
  text-transform: uppercase;

  a {
    margin-top: 10px;
    margin-right: 50px;
    font-size: .8em;
  }
}
