html { height: 100%; }

body {
  height: 100%;
  font-family: 'Carme', Helvetica, sans-serif;
  font-size: 16px;
}

.main {
  @include span-columns(10 omega, 12);
}

.sidebar {
  height: 100%;
  @include span-columns(2, 12);
  background-color: $dark_blue;
}

.content {
  margin-top: 92px;
}

header.top {
  position: absolute;
  @include span-columns(12);
  background-color: #D3D3D3;
  height: 92px;
}

:link, :visited {
  text-decoration: none;
  color: #939598;
}

:link:hover, :visited:hover {
  color: #58595B;
}

nav {
  float: right;
  padding: 0.5em 2em;
  text-transform: uppercase;

  a {
    margin-top: 10px;
    margin-right: 50px;
    font-size: .8em;
  }
}
