body {
  font-family: 'Carme', Helvetica, sans-serif;
}

#main {
  width: 80%;
  float: right;
}

#sidebar {
  width: 20%;
  float: left;
}

#content {
  padding: 20px;
}

header.top {
  background-color: #D3D3D3;
  width: 100%;
  height: 92px;
}

:link, :visited {
  text-decoration: none;
  color: #939598;
}

:link:hover, :visited:hover {
  color: #58595B;
}

nav {
  float: right;
  padding: 0.5em 2em;
  text-transform: uppercase;

  a {
    margin-top: 10px;
    margin-right: 50px;
    font-size: .8em;
  }
}

.mainbutton {
  padding: .6em 2em .5em 2.2em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -o-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(128,9,9) 48%, rgb(250,60,60) 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.48, rgb(128,9,9)),
      color-stop(1, rgb(250,60,60))
      );
}
