// Imports -------------------------------------------------------------------
@import 'blueprint/reset';
@import 'fancy-buttons';

// SUSY ----------------------------------------------------------------------
@import "susy";

$total-cols             : 12;
$col-width              : 4em;
$gutter-width           : 1em;

$container-width        : 100%;
$grid-padding           : 0;

$show-grid-backgrounds  : false;

// CSS3 ----------------------------------------------------------------------
@import 'compass/css3/';
$default_border_radius: 10px;

@import 'partials/colors';
@import 'partials/fonts';

// Magic Numbers :(
$header-height: 92px;

@import 'main';
@import 'sidebar';
@import 'search';
@import 'pagination';
@import 'facets';
@import 'documents';

// Layout --------------------------------------------------------------------
.container {
  height: 100%;
  @include container;
  @include susy-grid-background;
}
