// Imports -------------------------------------------------------------------
@import 'blueprint/reset';
@import 'fancy-buttons';
@import 'base';

// CSS3
@import 'compass/css3/';
$default_border_radius: 10px;

@import 'main';
@import 'sidebar';
@import 'search';
@import 'partials/fonts';

/* Layout ------------------------------------------------------------------*/

.container {
  height: 100%;
  @include container;
  @include susy-grid-background;
}
