// Imports -------------------------------------------------------------------
@import 'blueprint/reset';

// CSS3
@import 'compass/css3/';
$default_border_radius: 10px;

@import "base";
@import 'main';
@import 'hierarchy';
@import 'search';

/* Layout ------------------------------------------------------------------*/

.container {
  @include container;
  @include susy-grid-background;
}
