.search {
  margin-left: 2em;
  position: relative;
  top: -1.5em;
  line-height: 3em;
  background-color: #F3F3F4;
  width: 680px;
  @include box-shadow(1px 1px 2px 2px #999);
  @include border-radius;

  input {
    padding: 0 0 0 10px;
    font-size: 0.8em;
    @include border-radius;

    &[type='text'] {
      margin: 0.5em;
      width: 400px;
      padding: 0.6em;
    }

    &[type='submit'] {
      margin-right: 0.5em;
      color: white;
      text-transform: uppercase;
      @include fancy-button(rgb(128,9,9), 0.9em, 8px);
    }

  }

  .advanced_search {
    text-transform: uppercase;
    display: inline;
    font-size: 0.6em;
    border-left: 1px solid #D1D2D4;
    padding: 1em;

    a {
      text-decoration: none;
      color: #939598;
      &:hover { color: #666; }
    }
  }
}
