.search {
  padding: 0.5em;
  position: relative;
  top: -1.5em;
  background-color: #F3F3F4;
  @include span-columns(6, 10);
  @include box-shadow(1px 1px 2px 2px #999);
  @include border-radius;

  input {
    @include border-radius;

    &[type='text'] {
      padding: 0.5em;
      font-size: 0.8em;
      @include span-columns(4, 6);
      margin: 0;
    }

    &[type='submit'] {
      color: white;
      text-transform: uppercase;
      @include span-columns(1.9 omega, 6);
      @include fancy-button(rgb(128, 9, 9), 0.9em, 8px);
      @include fancy-button-padding(0.5em, 2em);
    }

  }
}
