@import 'partials/colors';

@mixin sidebar_item {
  border-bottom: 1px solid white;
  line-height: 2em;
}

@mixin level-padding($level: 0) {
  padding-left: $level * 1.5em;
}

@mixin facet_level_1 {
  @include sidebar_item;
  background-color: $dark_blue;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $light_blue;
  }
}

@mixin facet_level_2 {
  @include sidebar_item;
  background-color: $light_gray;
  color: $dark_gray;
  &:hover {
    background-color: $hover_gray;
  }
}

@mixin facet_level_3 {
  @include sidebar_item;
  background-color: $white_gray;
  color: $dark_gray;
}

.facets {
  height: 100%;
  background-color: $dark_blue;
  h2 { display: none; }

  font-size: 0.8em;

  h3 {
    @include facet_level_1;
    @include level-padding(1);
    &:hover {
      cursor: pointer;
    }
  }

  .facet_limit {
    li {
      @include facet_level_2;
      @include level-padding(2);
    }

    .limit_content {
      @include facet_level_2;
      form {
        margin: 0;
      }
    }
  }
}
